@import url('https://fonts.cdnfonts.com/css/gt-walsheim-pro');
@import url('https://fonts.cdnfonts.com/css/lt-diploma');

* {
    font-family: 'GT Walsheim Pro';
}

body {
    margin: 0;
    scroll-behavior: smooth;
    overflow-x: hidden;
}

#pageTitle {
    text-align: center;
    font-size: 8rem;
    font-weight: bold;
    color:#576776;
    z-index: 0;
    position: absolute;
}

#headerContainer {
    width: 100%;
    height: 800px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

#headerContainer img {
    width: 100%;
    height: fit-content;
    z-index: -1;
}

nav {
    width: 100%;
    height: 50px;
    position: absolute;
    background-color: black;
    opacity: 0;
    z-index: 999;
    position: fixed;
    transition: all .3s ease-in-out;
    display: flex;
    align-items: center;
    text-align: center;
}

#navTitle {
    width: 100%;
    color:white;
    transition: all 1s ease-in-out;
    position: absolute;
}

nav:hover #navTitle {
    transform: translateX(-43%);
}

main {
    margin: 0 15px 0 15px;
}

h2 {
    font-size: 40px;
    text-indent: calc(36px + 0.5cm);
}

#biografie p {
    text-indent: 36px;
    font-size: 25px;
}

#menuImg {
    width: 30px;
    height: fit-content;
    position: absolute;
    right: 10px;
    transition: transform .25s ease-in-out, opacity 1s ease-in-out;
}

nav:hover #menuImg {
    transform: rotate(90deg);
}

.nav-button {
    color: white;
    font-weight: bold;
    font-size: 20px;
}

#menuContainer {
    width: 100%;
    height: fit-content;
    transition: transform 1s ease-in-out, opacity 1.5s ease-in-out;
    position: absolute;
    transform: translateX(55%);
    opacity: 0;
    z-index: 1000;
}

nav:hover #menuContainer {
    transform: translateX(38%);
    opacity: 1;
}

#biografie {
    margin-top: 60px;
}

::-webkit-scrollbar {
    width: 13px;
}
   
::-webkit-scrollbar-track {
    background: white;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
   
::-webkit-scrollbar-thumb {
    background: #576776;
    border-radius: 5px;
}

.noSelect {
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

#sec1 {
    display: flex;
    width: 100%;
    height: 500px;
    align-items: center;
}

p {
    text-indent: 36px;
    font-size: 25px;
}

#sec2 {
    display: flex;
    height: 400px;
    justify-content: center;
    align-items: center;
}

#sec2 video {
    height: 400px;
    width: fit-content;
}


#cardshowControls {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80px;
    width: 100%;
}

#arrowLeft {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 15px;
}

#arrowRight {
    background-color: white;
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-left: 15px;
}

.indicator:last-child {
    margin-right: 0;
}

#cardshowContainer {
    display: flex;
    justify-content: center;
    overflow: hidden;
    width: 100%; /* Add this line to make the container width fit its content */
    margin: 0 auto; /* Add this line to center the container */
  }
  
  .card {
    width: 1800px;
    height: 400px;
    margin: 0 10px;
    transition: all .4s ease-in-out;
  }

  .card img {
    width: fit-content;
    height: 400px;
  }

  #cardshowControls {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
  }

  .indicator {
    width: 10px;
    height: 10px;
    margin: 0 5px;
    border-radius: 50%;
    background-color: gray;
    cursor: pointer;
  }

  .indicator.active {
    background-color: black;
  }

  .quotes img {
    width: 50px;
    height: 50px;
  }

  .quotes {
    border: 3px solid black;
    border-left-width: 9px;
    padding: 30px;
    width: fit-content;
    height: fit-content;
  }

  .quotesText {
    font-family: 'LT Diploma';
    font-size: 40px;
  }

  .quotes .author {
    font-size: 20px;
    text-indent: 36px;
  }

  #photoContainer {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 350px;
    justify-content: center;
  }

  #photoContainer img {
    margin-right: 35px;
  }

  #photoContainer img:last-child {
    margin-right: 0;
  }
